<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.java.mybatis.mapper.DepartmentMapper">

    <select id="selectById" parameterType="long" resultType="learn.java.mybatis.model.Department">
        SELECT id, name, created_at, updated_at
        FROM department
        WHERE id = #{id}
    </select>

</mapper>
