<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.java.bootsocial.mapper.UserMapper">

    <resultMap id="UserMap" type="learn.java.bootsocial.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password_hash" property="passwordHash"/>
        <result column="salt" property="salt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <insert id="insertUser" parameterType="learn.java.bootsocial.model.User"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO users (username, password_hash, salt)
        VALUES (#{username}, #{passwordHash}, #{salt})
    </insert>

    <select id="findById" resultMap="UserMap">
        SELECT id, username, password_hash, salt, created_at
        FROM users
        WHERE id = #{id}
    </select>

</mapper>

